# Core ML/AI
torch
transformers
opencv-python-headless
numpy
scikit-learn
open3d             # Mudei para instalar a versão mais recente compatível
Pillow             # Adicionando explicitamente para manipulação de imagem
scipy              # Adicionando para utilidades matemáticas

# Deploy e Demo
gradio
uvicorn
fastapi
python-dotenv
